<form action="/get_page" method='get'>
  URL:<br>
  <input type="text" name="page" value="http://www.dailymail.co.uk/sport/index.html">
  <br>
  <br><br>
  <input type="submit" value="Submit">
</form>